.actions_container {
  width: 100%;
  margin-top: 20px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-form-field {
    margin-right: 10px;
  }

  button {
    margin-left: 5px;
  }
}
