.forms_container {
  width: 600px;
  min-height: 686.688px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  form {
    width: 100%;
    margin: 20px;
  }

  .container > * {
    width: 100%;
  }

  .container-buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
