form {
  margin: 50px;
}

h1 {
  margin-top: 40px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  > * {
    width: 40%;
  }
}
