.navbar {
  display: flex;
  justify-content: space-between;

  span {
    padding: 0.5rem;
    cursor: pointer;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.521);
    color: #673ab7;
    border-radius: 5px;
  }
}
