@import "./colors.scss";
.table_container {
  margin: 50px;
  margin-top: 0;
  box-shadow: 2px 2px 9px -1px #000000;

  table {
    width: 100%;
    border-spacing: 0;

    .mat-icon {
      cursor: pointer;
    }

    th {
      color: white;
      padding: 10px;
      text-align: left;
    }

    tr {
      &:first-child {
        background-color: $warn-color;
      }

      &:nth-child(even) {
        background-color: $table-row;
      }

      td {
        padding: 10px;

        .table_td_styled {
          color: white;
          background-color: $primary-color;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
          margin-right: 2px;
        }
      }
    }

    .not_found_row {
      font-weight: bold;
    }
  }
}
