<h1>Login Page</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        #email
        name="Email"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('email')"
          [formName]="email.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        #password
        name="Password"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('password')"
          [formName]="password.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Log in
    </button>
  </div>
</form>
