<h2 mat-dialog-title>{{ data?._id ? "Edit" : "Create" }} exercise type</h2>
<div class="forms_container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    *ngIf="!isLoading"
    [formGroup]="exerciseTypeForm"
    (ngSubmit)="onSubmit()"
    #formDirective="ngForm"
  >
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" #name name="Name" />
        <mat-hint>
          <app-print-error
            [control]="getControl('name')"
            [formName]="name.name"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Muscle Groups</mat-label>
        <mat-select formControlName="muscleGroups" #muscleGroups multiple>
          <mat-option
            *ngFor="let muscle of muscleGroupsArray"
            [value]="muscle"
            >{{ muscle | titlecase }}</mat-option
          >
        </mat-select>
        <mat-hint>
          <app-print-error
            [control]="getControl('muscleGroups')"
            formName="Muscle group"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <div class="container-buttons">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="exerciseTypeForm.invalid"
        >
          {{ data?._id ? "Update" : "Create" }}
        </button>
        <button
          type="button"
          mat-flat-button
          color="warn"
          (click)="resetUserChanges()"
        >
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
