.forms_container {
  width: 800px;
  height: 700px;
  overflow-y: auto;

  form {
    margin: 50px;
    margin-left: 0;
  }

  .exercise {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    margin-bottom: 10px;

    .exercise_form-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mat-button-toggle-group {
        align-self: flex-start;
      }
    }
  }

  button {
    margin-right: 5px;
  }

  .buttons_container {
    margin-top: 10px;

    &-add {
      background-color: #33b249;
      color: white;
    }

    &-submit {
      margin-top: 15px;
      button {
        width: 25%;
      }
    }
  }
}
