<h2 mat-dialog-title>{{ data?._id ? "Edit" : "Create" }} workout</h2>
<div class="forms_container">
  <div class="spinner_container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="myDatePicker"
        formControlName="date"
        #date
        name="Date"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('date')"
          [formName]="date.name"
        ></app-print-error>
      </mat-hint>
      <mat-datepicker-toggle
        [for]="myDatePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>

    <div formArrayName="exercises">
      <div
        class="exercise"
        *ngFor="let exercise of exerciseFormsArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="exercise_form-1">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Exercise type</mat-label>
              <mat-select formControlName="exerciseType" #exerciseType>
                <mat-option *ngFor="let e of exerciseTypes" [value]="e._id">{{
                  e.name | titlecase
                }}</mat-option>
              </mat-select>
              <mat-hint>
                <app-print-error
                  [control]="getControl('exerciseType')"
                  formName="Exercise Type"
                ></app-print-error>
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Series</mat-label>
              <input
                type="number"
                matInput
                formControlName="series"
                #series
                name="Series"
              />
              <mat-hint>
                <app-print-error
                  [control]="getControl('series')"
                  [formName]="series.name"
                ></app-print-error>
              </mat-hint>
            </mat-form-field>
          </div>
          <mat-button-toggle-group
            name="isWeightLifting"
            formControlName="isWeightLifting"
          >
            <mat-button-toggle [value]="true">Weight Lifting</mat-button-toggle>
            <mat-button-toggle [value]="false">Running</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div *ngFor="let prop of exerciseFormArrays" formArrayName="{{ prop }}">
          <span
            *ngFor="
              let repetition of getFormsFromExerciseForm(exercise, prop)
                .controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <mat-form-field appearance="fill">
              <mat-label>{{ i + 1 }}. {{ prop }}</mat-label>
              <input
                type="number"
                matInput
                formControlName="rep"
                #rep
                name="prop"
              />
              <mat-hint>
                <app-print-error
                  [control]="repetition.get('rep')"
                  [formName]="rep.name"
                ></app-print-error>
              </mat-hint>
            </mat-form-field>
          </span>
        </div>

        <button
          type="button"
          mat-flat-button
          color="warn"
          (click)="deleteExerciseForm(i)"
        >
          Delete Exercise
        </button>
      </div>
      <div class="buttons_container">
        <button
          type="button"
          class="buttons_container-add"
          mat-flat-button
          (click)="addExerciseForm()"
        >
          Add Exercise
        </button>

        <div class="buttons_container-submit">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="workoutForm.invalid"
          >
            {{ data?._id ? "Update" : "Create" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
