.user_container {
  margin: 50px;
  padding: 20px;
  width: 30%;
  height: 300px;
  color: white;
  background-color: #673ab7;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .mat-headline {
    margin: 0;
  }

  div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
