<mat-tab-group>
  <mat-tab label="User Info">
    <div class="user_container">
      <div>
        <mat-icon>account_circle</mat-icon>
        <span class="mat-headline">{{ user?.name }}</span>
      </div>
      <div>
        <mat-icon>email</mat-icon>
        <span class="mat-body-1">{{ user?.email }}</span>
      </div>
      <div>
        <mat-icon>person</mat-icon>
        <span class="mat-body-1">{{ user?.gender }}</span>
      </div>
      <div>
        <mat-icon>celebration</mat-icon>
        <span class="mat-body-1">{{
          user?.dateOfBirth?.toString()?.slice(0, 16)
        }}</span>
      </div>
      <div>
        <mat-icon>height</mat-icon>
        <span class="mat-body-1">{{ user?.height }} cm</span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Edit Info">
    <app-user-update
      (onUpdateUser)="updateUserObject($event)"
      *ngIf="user"
      [user]="user"
      [id]="id"
    ></app-user-update>
  </mat-tab>
  <mat-tab label="Change Password">
    <app-user-password-update *ngIf="user" [id]="id"></app-user-password-update>
  </mat-tab>
</mat-tab-group>
