<form [formGroup]="userForm" (ngSubmit)="submitUserUpdate()">
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" #name name="Name" />
      <mat-hint>
        <app-print-error
          [control]="getControl('name')"
          [formName]="name.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" #gender>
        <mat-option *ngFor="let gender of genderArray" [value]="gender">{{
          gender | titlecase
        }}</mat-option>
      </mat-select>
      <mat-hint>
        <app-print-error
          [control]="getControl('gender')"
          formName="Gender"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="myDatePicker"
        formControlName="dateOfBirth"
        #date
        name="Date of Birth"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('dateOfBirth')"
          [formName]="date.name"
        ></app-print-error>
      </mat-hint>
      <mat-datepicker-toggle
        [for]="myDatePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Height</mat-label>
      <input
        matInput
        formControlName="height"
        type="number"
        #height
        name="Height"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('height')"
          [formName]="height.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>
    <div class="container-buttons">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Update
      </button>
      <button
        type="button"
        mat-flat-button
        color="warn"
        (click)="resetUserChanges()"
      >
        Reset Changes
      </button>
    </div>
  </div>
</form>
