<div class="container">
  <div class="actions_container">
    <form [formGroup]="filterForm">
      <mat-form-field appearance="legacy">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button mat-flat-button color="accent" (click)="applyFilters()">
        Apply Filters
      </button>
      <button mat-flat-button color="warn" (click)="applyFilters(true)">
        Reset Filters
      </button>
    </form>
  </div>
</div>

<ngx-charts-line-chart
  [view]="[1000, 600]"
  [results]="dataToVisualize"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [yAxisLabel]="'Measurement'"
  [xAxisLabel]="'Date'"
>
</ngx-charts-line-chart>
