@import "../../../../styles/colors.scss";

.table_container {
  table {
    td {
      &:first-child {
        width: 20%;
      }

      &:nth-child(3),
      &:nth-child(4) {
        width: 5%;
      }
    }
  }
}
