<div [hidden]="isLoading">
  <div class="actions_container">
    <form [formGroup]="filterForm">
      <mat-form-field appearance="legacy">
        <input
          formControlName="name"
          type="text"
          matInput
          placeholder="Search by name"
        />
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Muscle Groups</mat-label>
        <mat-select formControlName="muscleGroups" multiple>
          <mat-option
            *ngFor="let muscle of muscleGroupsArray"
            [value]="muscle"
            >{{ muscle | titlecase }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="applyFilters()">
        Apply Filters
      </button>
      <button mat-flat-button color="warn" (click)="applyFilters(true)">
        Reset Filters
      </button>
    </form>

    <button
      *ngIf="isAdmin"
      mat-flat-button
      color="primary"
      (click)="openCreateEdit()"
    >
      Create New
    </button>
  </div>

  <div class="table_container">
    <table>
      <tr>
        <th>Name</th>
        <th>Muscle Group</th>
        <th *ngIf="isAdmin">Edit</th>
        <th *ngIf="isAdmin">Delete</th>
      </tr>
      <tr
        *ngFor="
          let exercise of exerciseTypes | searchExerciseType: filterValues
        "
      >
        <td>{{ exercise.name | titlecase }}</td>
        <td>
          <span
            *ngFor="let muscle of exercise.muscleGroups"
            class="table_td_styled"
            >{{ muscle }}</span
          >
        </td>
        <td *ngIf="isAdmin">
          <mat-icon color="primary" (click)="openCreateEdit(exercise)"
            >edit_note</mat-icon
          >
        </td>
        <td *ngIf="isAdmin">
          <mat-icon color="primary" (click)="onDelete(exercise._id)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="isLoading" class="spinner_container">
  <mat-spinner></mat-spinner>
</div>
