<h1>Register Page</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" #name name="Name" />
      <mat-hint>
        <app-print-error
          [control]="getControl('name')"
          [formName]="name.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        #email
        name="Email"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('email')"
          [formName]="email.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        #password
        name="Password"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('password')"
          [formName]="password.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        #confirmPassword
        name="Confirm Password"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('confirmPassword')"
          [formName]="confirmPassword.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" #gender>
        <mat-option *ngFor="let gender of genderArray" [value]="gender">{{
          gender | titlecase
        }}</mat-option>
      </mat-select>
      <mat-hint>
        <app-print-error
          [control]="getControl('gender')"
          formName="Gender"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="myDatePicker"
        formControlName="dateOfBirth"
        #date
        name="Date of Birth"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('dateOfBirth')"
          [formName]="date.name"
        ></app-print-error>
      </mat-hint>
      <mat-datepicker-toggle
        [for]="myDatePicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input
        matInput
        formControlName="height"
        type="number"
        #height
        name="Height"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('height')"
          [formName]="height.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </div>
</form>
