.parent {
  margin-bottom: 35px;
  .button_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
  }
}
.photo_container {
  width: 800px;
  height: 800px;
  overflow-y: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}
.mat-dialog-container {
  padding: 0;
}
