<div class="parent">
  <div class="button_wrapper">
    <button mat-button mat-dialog-close color="primary">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="photo_container">
    <img [src]="data.src" alt="measurement photo" />
  </div>
</div>
