<mat-tab-group>
  <mat-tab label="Measurements">
    <div [hidden]="isLoading">
      <div class="actions_container">
        <form [formGroup]="filterForm">
          <mat-form-field appearance="legacy">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <button mat-flat-button color="accent" (click)="applyFilters()">
            Apply Filters
          </button>
          <button mat-flat-button color="warn" (click)="applyFilters(true)">
            Reset Filters
          </button>
        </form>
        <button
          mat-flat-button
          color="primary"
          (click)="openCreateEdit({ user: id })"
        >
          Create new
        </button>
      </div>

      <div class="table_container">
        <table>
          <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Chest</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Biceps</th>
            <th>Photo</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr *ngIf="!hasResults" class="not_found_row">
            <td colspan="9">No result found</td>
          </tr>
          <tr *ngFor="let measurement of measurements">
            <td>{{ measurement.date.toString()?.slice(0, 10) }}</td>
            <td>{{ measurement.weight }} kg</td>
            <td>{{ measurement.chest }} cm</td>
            <td>{{ measurement.waist }} cm</td>
            <td>{{ measurement.hips }} cm</td>
            <td>{{ measurement.biceps }} cm</td>
            <td>
              <mat-icon
                color="primary"
                (click)="openPhoto(measurement.photoUrl)"
                >photo_camera</mat-icon
              >
            </td>
            <td>
              <mat-icon color="primary" (click)="openCreateEdit(measurement)"
                >edit_note</mat-icon
              >
            </td>
            <td>
              <mat-icon
                color="primary"
                (click)="onDeleteMeasurement(measurement)"
                >delete</mat-icon
              >
            </td>
          </tr>
        </table>
        <mat-paginator
          [length]="count"
          [pageSize]="limit"
          [pageSizeOptions]="[3, 6, 9, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Graph">
    <app-measurements-graph [id]="id"></app-measurements-graph
  ></mat-tab>
</mat-tab-group>
<div *ngIf="isLoading" class="spinner_container">
  <mat-spinner></mat-spinner>
</div>
