<h2 mat-dialog-title>{{ data?._id ? "Edit" : "Create" }} measurement</h2>
<div class="forms_container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" [formGroup]="photoForm">
    <input
      formControlName="file"
      type="file"
      (change)="onPhotoSelected($event)"
      accept="image/*"
    />
  </form>

  <form
    *ngIf="!isLoading"
    [formGroup]="measurementForm"
    (ngSubmit)="onSubmit()"
    #formDirective="ngForm"
  >
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input
          type="number"
          matInput
          formControlName="weight"
          #weight
          name="Weight"
        />
        <mat-hint>
          <app-print-error
            [control]="getControl('weight')"
            [formName]="weight.name"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Chest</mat-label>
        <input
          type="number"
          matInput
          formControlName="chest"
          #chest
          name="Chest"
        />
        <mat-hint>
          <app-print-error
            [control]="getControl('chest')"
            [formName]="chest.name"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Waist</mat-label>
        <input
          matInput
          formControlName="waist"
          type="number"
          #waist
          name="Waist"
        />
        <mat-hint>
          <app-print-error
            [control]="getControl('waist')"
            [formName]="waist.name"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hips</mat-label>
        <input
          matInput
          formControlName="hips"
          type="number"
          #hips
          name="Hips"
        />
        <mat-hint>
          <app-print-error
            [control]="getControl('hips')"
            [formName]="hips.name"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Biceps</mat-label>
        <input
          type="number"
          matInput
          formControlName="biceps"
          #biceps
          name="Biceps"
        />
        <mat-hint>
          <app-print-error
            [control]="getControl('biceps')"
            [formName]="biceps.name"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="myDatePicker"
          formControlName="date"
          #date
          name="Date"
        />
        <mat-hint>
          <app-print-error
            [control]="getControl('date')"
            [formName]="date.name"
          ></app-print-error>
        </mat-hint>
        <mat-datepicker-toggle
          [for]="myDatePicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
      </mat-form-field>

      <div class="container-buttons">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="
            data?._id
              ? measurementForm.invalid
              : photoForm.invalid || measurementForm.invalid
          "
        >
          {{ data?._id ? "Update" : "Create" }}
        </button>
        <button
          type="button"
          mat-flat-button
          color="warn"
          (click)="resetUserChanges()"
        >
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
