@import "../../../../styles/colors.scss";

.container {
  padding-bottom: 50px;

  .table_container {
    table {
      tr {
        td {
          &:nth-child(2) {
            width: 75%;
          }

          table {
            tr {
              background-color: inherit;
              &:first-child {
                background-color: $warn-color;
              }
            }

            td {
              width: 20%;
              border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);

              &:nth-child(1),
              &:nth-child(2) {
                width: 10%;
              }
            }
          }
        }
      }
    }
  }
}
