<mat-tab-group>
  <mat-tab label="Workouts">
    <div class="container" [hidden]="isLoading">
      <div class="actions_container">
        <form [formGroup]="filterForm">
          <mat-form-field appearance="legacy">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input
              [rangePicker]="picker"
              formGroupName="dateRange"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
              />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <input
              formControlName="exerciseType"
              type="text"
              matInput
              placeholder="Search by exercise type"
            />
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Muscle Groups</mat-label>
            <mat-select formControlName="muscleGroups" multiple>
              <mat-option
                *ngFor="let muscle of muscleGroupsArray"
                [value]="muscle"
                >{{ muscle | titlecase }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button mat-flat-button color="accent" (click)="applyFilters()">
            Apply Filters
          </button>
          <button mat-flat-button color="warn" (click)="applyFilters(true)">
            Reset Filters
          </button>
        </form>
        <button
          mat-raised-button
          color="primary"
          (click)="openCreateEdit({ user: id })"
        >
          Create New
        </button>
      </div>
      <div class="table_container">
        <table>
          <tr>
            <th>Date</th>
            <th>Exercises</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Duplicate</th>
          </tr>
          <tr *ngIf="!hasResults" class="not_found_row">
            <td colspan="5">No result found</td>
          </tr>
          <tr *ngFor="let workout of workouts">
            <td>{{ workout.date.toString()?.slice(0, 16) }}</td>
            <td>
              <table>
                <tr>
                  <th>Exercise Type</th>
                  <th>Series</th>
                  <th>Repetitions</th>
                  <th>Weight</th>
                  <th>Time</th>
                  <th>Distance</th>
                </tr>

                <tr *ngFor="let exercise of workout.exercises">
                  <td>
                    <span> {{ exercise.exerciseType.name | titlecase }}</span>
                  </td>
                  <td>
                    <span> {{ exercise.series }} </span>
                  </td>
                  <td>
                    <span
                      [ngClass]="{
                        table_td_styled: exercise.repetitions?.length
                      }"
                      *ngFor="let repetition of exercise.repetitions"
                      >{{ repetition || "n / a" }}</span
                    >
                  </td>
                  <td>
                    <span
                      [ngClass]="{
                        table_td_styled: exercise.repetitions?.length
                      }"
                      *ngFor="let w of exercise.weight"
                    >
                      {{ w || "n / a" }}
                    </span>
                  </td>
                  <td>
                    <span
                      [ngClass]="{
                        table_td_styled: exercise.repetitions?.length
                      }"
                      *ngFor="let t of exercise.time"
                    >
                      {{ t || "n / a" }}
                    </span>
                  </td>
                  <td>
                    <span
                      [ngClass]="{
                        table_td_styled: exercise.repetitions?.length
                      }"
                      *ngFor="let d of exercise.distance"
                    >
                      {{ d || "n / a" }}
                    </span>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <mat-icon color="primary" (click)="openCreateEdit(workout)"
                >edit_note</mat-icon
              >
            </td>
            <td>
              <mat-icon color="primary" (click)="onDelete(workout)"
                >delete</mat-icon
              >
            </td>
            <td>
              <mat-icon
                color="primary"
                (click)="openCreateEdit(workout, true, id)"
                >add</mat-icon
              >
            </td>
          </tr>
        </table>
        <mat-paginator
          [length]="count"
          [pageSize]="limit"
          [pageSizeOptions]="[3, 6, 9, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Graph">
    <app-workout-graph [id]="id"></app-workout-graph
  ></mat-tab>
</mat-tab-group>
<div *ngIf="isLoading" class="spinner_container">
  <mat-spinner></mat-spinner>
</div>
