<mat-toolbar class="navbar" color="primary">
  <div>ShapeShifter</div>
  <div>
    <span [routerLink]="['/main/user', id]" routerLinkActive="active"
      >My account</span
    >
    <span [routerLink]="['/main/measurements', id]" routerLinkActive="active"
      >Measurements</span
    >
    <span [routerLink]="['/main/exercise-type']" routerLinkActive="active"
      >Exercise Type</span
    >
    <span [routerLink]="['/main/workouts', id]" routerLinkActive="active"
      >Workouts</span
    >
    <span (click)="onLogout()">Logout</span>
  </div>
</mat-toolbar>
