<form
  [formGroup]="passwordForm"
  #formDirective="ngForm"
  (ngSubmit)="submitPasswordChange(formDirective)"
>
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        #email
        name="Email"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('email')"
          [formName]="email.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Old Password</mat-label>
      <input
        matInput
        formControlName="oldPassword"
        type="password"
        #oldPassword
        name="Old Password"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('oldPassword')"
          [formName]="oldPassword.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        formControlName="newPassword"
        type="password"
        #newPassword
        name="New Password"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('newPassword')"
          [formName]="newPassword.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmedNewPassword"
        type="password"
        #confirmedNewPassword
        name="Confirm Password"
      />
      <mat-hint>
        <app-print-error
          [control]="getControl('confirmedNewPassword')"
          [formName]="confirmedNewPassword.name"
        ></app-print-error>
      </mat-hint>
    </mat-form-field>
    <div class="container-buttons">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="passwordForm.invalid"
      >
        Change
      </button>
      <button
        type="button"
        mat-flat-button
        color="warn"
        (click)="resetPasswordChanges()"
      >
        Reset Changes
      </button>
    </div>
  </div>
</form>
