<mat-toolbar class="navbar" color="primary">
  <div>ShapeShifter</div>
  <div>
    <span [routerLink]="['/auth/register']" routerLinkActive="active"
      >Register</span
    >
    <span [routerLink]="['/auth/login']" routerLinkActive="active">Login</span>
  </div>
</mat-toolbar>
