<span *ngIf="control && control.errors && (control.dirty || control.touched)">
  <span *ngIf="control.errors?.['required']">
    {{ formName }} field is required !
  </span>
  <span *ngIf="control.errors?.['misMatch']">
    <span> Passwords do not match </span>
  </span>
  <span *ngIf="control.errors?.['invalidEmail']">
    <span> Please provide valid email address </span>
  </span>
  <span *ngIf="control.errors?.['pattern']">
    <span>
      Password must contain at least 6 characters, one number, one special
      character and both lower and uppercase letters
    </span>
  </span>
</span>
