<div class="container">
  <div class="actions_container">
    <form [formGroup]="filterForm">
      <mat-form-field appearance="legacy">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Exercise type</mat-label>
        <mat-select formControlName="exerciseType" #exerciseType>
          <mat-option *ngFor="let e of exerciseTypes" [value]="e.name">{{
            e.name | titlecase
          }}</mat-option>
        </mat-select>
        <mat-hint>
          <app-print-error
            [control]="getControl('exerciseType')"
            formName="Exercise Type"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let e of exerciseFormArrays" [value]="e">{{
            e | titlecase
          }}</mat-option>
        </mat-select>
        <mat-hint>
          <app-print-error
            [control]="getControl('category')"
            formName="Category"
          ></app-print-error>
        </mat-hint>
      </mat-form-field>

      <button mat-flat-button color="accent" (click)="applyFilters()">
        Apply Filters
      </button>
      <button mat-flat-button color="warn" (click)="applyFilters(true)">
        Reset Filters
      </button>
    </form>
  </div>
</div>

<ngx-charts-line-chart
  [view]="[1000, 600]"
  [results]="dataToVisualize"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [yAxisLabel]="yAxisLabel"
  [xAxisLabel]="'Date'"
  [xAxisTickFormatting]="tickFormatting"
>
  <ng-template #tooltipTemplate let-model="model">
    <span class="tooltip-label">{{ model.name.slice(0, 16) }} </span>
    <span class="tooltip-val">{{ model.value }}</span>
  </ng-template></ngx-charts-line-chart
>
